
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


// ZMK Zen


// ------- WIN -------------------


#define wCHAR 0
#define wNR 1
#define wNRhard 2
#define wLCHAR 3

#define wNAV 4
#define wSNAV 5

#define wPRG 6
#define wSPRG 7

#define wFUNC 8
#define wSFUNC 9
#define wAlter 10
#define wGUI 11

#define wSYM 12
#define wSSYM 13

#define wSShift 14
#define wSSShift 15

// ------- MAC -------------------

#define mCHAR 16
#define mNR 17
#define mNRhard 18
#define mLCHAR 19

#define mNAV 20
#define mSNAV 21

#define mPRG 22
#define mSPRG 23

#define mFUNC 24
#define mSFUNC 25
#define mAlter 26
#define mGUI 27

#define mSYM 28
#define mSSYM 29

#define mSShift 30
#define mSSShift 31




/ {

    behaviors 
	{


		// ---------------------- Windows ------------------------------------------

		// Tap Dance Number
		wMdNr: tap_dance_wMdNr 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_wMdNr";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to wNR>, <&to wNRhard>;
        };

		//Tab Dance Shift
		wMdLs: tap_dance_wMdLs 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_wMdLs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl wLCHAR>, <&to wLCHAR>;
        };
		wMdRs: tap_dance_wMdRs 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_wMdRs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl wLCHAR>, <&to wLCHAR>;
        };


		// ---------------------- MAC ------------------------------------------

			// Tap Dance Number
		mMdNr: tap_dance_mMdNr 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mMdNr";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to mNR>, <&to mNRhard>;
        };

		//Tab Dance Shift
		mMdLs: tap_dance_mMdLs 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mMdLs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl mLCHAR>, <&to mLCHAR>;
        };
		mMdRs: tap_dance_mMdRs 
		{
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mMdRs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl mLCHAR>, <&to mLCHAR>;
        };



    };

	





	macros 
	{

		// ----- OS Switch ---------

		turnOnMac: turnOnMac {
            label = "turnOnMac";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(LG(LA(ESC)))>
				, <&to mCHAR>
                ;
    	};

		turnOnWin: turnOnWin {
            label = "turnOnWin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(LG(LA(RIGHT)))>
                , <&to wCHAR>
                ;
    	};



		// ---------------------- Windows ------------------------------------------

		//Reset Keys
        wSpaceReset: wSpaceReset 
		{
            label = "wSpaceReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&kp SPACE>
                ;
    	};
		wEnterReset: wEnterReset 
		{
            label = "wEnterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&kp ENTER>
                ;
    	};
		wShiftReset: wShiftReset
		{
            label = "wShiftReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wLCHAR>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wLCHAR>
                ;
    	};



		//Reset Daumen

		wNrReset: wNrReset
		{
            label = "wNrReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wNR>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wNR>
				;
    	};

				
		wNavReset: wNavReset 
		{
            label = "wNavReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wNAV>
                ;
    	};

		wPrgReset: wPrgReset 
		{
            label = "wPrgReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wPRG>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wPRG>
                ;
    	};

		wFuncReset: wFuncReset
		{
            label = "wFuncReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wFUNC>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wFUNC>
                ;
    	};

		wSymReset: wSymReset
		{
            label = "wSymReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wSYM>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wSYM>
                ;
    	};



		wAlterReset: wAlterReset
		{
            label = "wAlterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sl wAlter>
    			, <&macro_pause_for_release>
				, <&macro_release &sl wAlter>
                ;
    	};


		wModSCtlReset: wModSCtlReset
		{
            label = "wModSCtlReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sk LS(LCTL)>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LS(LCTL)>
                ;
    	};


		wModAltReset: wModAltReset
		{
            label = "wModAltReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sk LALT>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LALT>
                ;
    	};

		wModGuiReset: wModGuiReset 
		{
            label = "wModGuiReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &sk LGUI>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LGUI>
                ;
    	};


		// specials

		wAltShot: wAltShot {
            label = "wAltShot";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
				, <&macro_release  &kp LALT>
                ;
    	};


		// Window

		wWinLeft: wWinLeft {
            label = "wWinLeft";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
				, <&macro_tap &kp LEFT>
				, <&macro_wait_time 250>
				, <&macro_release  &kp LGUI>
                ; 
    	};

		wWinRight: wWinRight {
            label = "wWinRight";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
				, <&macro_tap &kp RIGHT>
				, <&macro_wait_time 250>
				, <&macro_release  &kp LGUI>
                ; 
    	};

		wWinUp: wWinUp {
            label = "wWinUp";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
				, <&macro_tap &kp UP>
				, <&macro_wait_time 250>
				, <&macro_release  &kp LGUI>
                ; 
    	};

		wWinDown: wWinDown {
            label = "wWinDown";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
				, <&macro_tap &kp DOWN>
				, <&macro_wait_time 250>
				, <&macro_release  &kp LGUI>
                ; 
    	};

		wDoubleTab: wDoubleTab {
            label = "wDoubleTab";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
				, <&macro_wait_time 100>
				, <&macro_tap &kp TAB>
				, <&macro_wait_time 100>
				, <&macro_tap &kp TAB>
				, <&macro_wait_time 100>
				, <&macro_release  &kp LALT>
                ; 
    	};



		// Reset

		wReset: wReset {
            label = "wReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
				= <&to wCHAR>
				, <&kp LC(LG(LA(NUBS)))>
				, <&macro_release  &kp LGUI>
				, <&macro_release  &kp LCTL>
				, <&macro_release  &kp LSHFT>
				, <&macro_release  &kp LALT>
                ; 
    	};



		// ---------------------- MAC ------------------------------------------


		//Reset Keys
        mSpaceReset: mSpaceReset 
		{
            label = "mSpaceReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&kp SPACE>
                ;
    	};
		mEnterReset: mEnterReset 
		{
            label = "mEnterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&kp ENTER>
                ;
    	};
		mShiftReset: mShiftReset
		{
            label = "mShiftReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mLCHAR>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mLCHAR>
                ;
    	};



		//Reset Daumen

		mNrReset: mNrReset
		{
            label = "mNrReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mNR>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mNR>
				;
    	};

				
		mNavReset: mNavReset 
		{
            label = "mNavReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mNAV>
                ;
    	};

		mPrgReset: mPrgReset 
		{
            label = "mPrgReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mPRG>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mPRG>
                ;
    	};

		mFuncReset: mFuncReset
		{
            label = "mFuncReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mFUNC>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mFUNC>
                ;
    	};

		mSymReset: mSymReset
		{
            label = "mSymReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mSYM>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mSYM>
                ;
    	};



		mAlterReset: mAlterReset
		{
            label = "mAlterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sl mAlter>
    			, <&macro_pause_for_release>
				, <&macro_release &sl mAlter>
                ;
    	};


		mModSCtlReset: mModSCtlReset
		{
            label = "mModSCtlReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sk LS(LCTL)>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LS(LCTL)>
                ;
    	};


		mModAltReset: mModAltReset
		{
            label = "mModAltReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sk LALT>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LALT>
                ;
    	};

		mModGuiReset: mModGuiReset 
		{
            label = "mModGuiReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &sk LGUI>
    			, <&macro_pause_for_release>
				, <&macro_release &sk LGUI>
                ;
    	};



		// Reset

		mReset: mReset {
            label = "mReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
				= <&to mCHAR>
				, <&kp LC(LG(LA(NUBS)))>
				, <&macro_release  &kp LGUI>
				, <&macro_release  &kp LCTL>
				, <&macro_release  &kp LSHFT>
				, <&macro_release  &kp LALT>
                ; 
    	};

	};





	keymap
	{	
		compatible = "zmk,keymap";



		// -----------------------------------    WIN  -----------------------------------------------------------------------|

		// -----------------------------------------------------|
		// Layer 0 - mChar = 	  Buchstaben					|
		// -----------------------------------------------------|
	
		win_buchstaben
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp J 
				&kp D	 
				&kp U
				&kp A
				&kp X

				&kp P
				&kp H
				&kp L
				&kp M
				&kp W
				&kp BSPC

				// ----------------------------------------
	
				&sl wSShift
				&kp C
				&kp T
				&kp I
				&kp E
				&kp O

				&kp B
				&kp N
				&kp R
				&kp S
				&kp G
				&kp RET

				// ----------------------------------------
	
				&wMdLs
				&kp F
				&kp V
				&kp MINUS
				&kp Y
				&kp Q

				&kp Z
				&kp SEMI
				&kp LBKT
				&kp SQT
				&kp K
				&wMdRs

				// ----------------------------------------

				&sl wSYM
				&kp SPACE
				&sl wFUNC
				&sl wPRG 
				&sl wNAV
				&wMdNr

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 1 - mNR = 	  Zahlen 							|
		// -----------------------------------------------------|

		win_zahlen
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp RBKT  				// +
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp NUHS				// #
				&kp X
				
				&kp RA(Q)				// at
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(RBKT)			// *				
				&kp BACKSPACE

				// ----------------------------------------

				&sl wSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8			
				&kp N9				
				&kp N0				
				&wEnterReset 

				// ----------------------------------------

				&wShiftReset
				&kp LS(N7)				// /
				&kp LC(LA(MINUS))		// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&wShiftReset

				// ----------------------------------------
		
				&wSymReset
				&wSpaceReset 
				&wFuncReset
				&wPrgReset
				&wNavReset
				&none
			>;		
		};



		// -----------------------------------------------------|
		// 2 Layer  - wNRhard = 	  Zahlen Hard Lock				|
		// -----------------------------------------------------|

		win_zahlenhard
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp RBKT  				// +
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp NUHS				// #
				&kp X
				
				&kp RA(Q)				// at
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(RBKT)			// *	
				&kp BSPC

				// ----------------------------------------

				&sl wSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8				
				&kp N9				
				&kp N0				
				&kp ENTER 

				// ----------------------------------------

				&wMdLs
				&kp LS(N7)				// /
				&kp LC(LA(MINUS))		// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&wMdRs

				// ----------------------------------------
		
				&sl wSYM
				&kp SPACE
				&sl wFUNC
				&sl wPRG 
				&sl wNAV
				&none
			>;		
		};




		// -----------------------------------------------------|
		// 3 Layer  - mLCHAR = 	  Buchstaben Lock				|
		// -----------------------------------------------------|
	
		win_lchar
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)

				// ----------------------------------------
	
				&sl wSShift
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)
			
				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&wEnterReset

				// ----------------------------------------

				&wMdLs
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&wMdRs					

				// ----------------------------------------

				&wSymReset
				&wSpaceReset 
				&wFuncReset
				&wPrgReset
				&wNavReset
				&wMdNr

				// ----------------------------------------		
			>;
		};




		// -----------------------------------------------------|
		// Layer = 4 - wNAV - Navigation						|
		// -----------------------------------------------------|

		win_navigation
		{		
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LC(LA(B))	
				&kp LC(HOME)				// @Home Sprung
				&kp LS(TAB)
				&kp UP						// @Up
				&kp TAB
				&kp LC(KP_MULTIPLY)	

				&kp DEL
				&kp LC(KP_PLUS)		
				&kp PG_UP
				&kp LC(KP_MINUS)
				&kp LC(UP)
				&kp BSPC					

				// ----------------------------------------

				&sl wSShift
				&kp LC(END)					// @End Sprung
				&kp LEFT 					// @Left
				&kp DOWN					// @Down
				&kp RIGHT 					// @Right
				&kp LC(LA(G))	
				
				&kp LC(LS(F10))
				&kp LS(LC(TAB))			 	// 
				&kp PG_DN
				&kp LC(TAB)				 	// 
				&kp LC(DOWN)
				&kp ENTER					// -
				
				// ----------------------------------------

				&kp LSHFT
				&kp HOME					// @Home 
				&kp LC(LEFT)				// @Wort Sprung
				&kp LC(RIGHT)				// @Wort Sprung
				&kp END
				&kp LA(TAB)

				&wAltShot
				&kp LS(HOME)					// @Home 
				&kp LS(LC(LEFT))				// @Wort Sprung
				&kp LS(LC(RIGHT))				// @Wort Sprung
				&kp LS(END)
				&kp LSHFT

				// ----------------------------------------

				&sl wSYM
				&kp SPACE				
				&sl wFUNC
				&wReset 
				&sl wSNAV
				&wMdNr

				// ----------------------------------------							
			>;
		};



		// -----------------------------------------------------|
		// Layer = 5 - wSNAV - Navigation						|
		// -----------------------------------------------------|

		win_snavigation
		{		
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LC(LG(LA(B)))
				&kp LC(LS(HOME))
				&kp LS(TAB)
				&kp UP						
				&kp TAB
				&kp LC(LS(KP_MULTIPLY))

				&kp INSERT
				&kp LC(LS(KP_PLUS))
				&kp LC(PG_UP)
				&kp LC(LS(KP_MINUS))
				&kp LA(UP)
				&kp BACKSPACE

				// ----------------------------------------
		
				&sl wSShift	
				&kp LC(LS(END))
				&kp LEFT
				&kp DOWN
				&kp RIGHT
				&kp LC(LG(LA(G)))

				&kp LCTL			
				&kp LC(LA(LS(TAB)))		
				&kp LC(PG_DN)
				&kp LC(LA(TAB))
				&kp LA(DOWN)
				&kp ENTER

				// ----------------------------------------

				&kp LSHIFT						
				&kp LS(HOME)
				&kp LC(LS(LEFT))
				&kp LC(LS(RIGHT))
				&kp LS(END)
				&wDoubleTab
				
				&kp LALT		
				&kp LA(LEFT)					
				&kp LC(LA(LEFT))				
				&kp LC(LA(RIGHT))
				&kp LA(RIGHT)					
				&kp RSHIFT						

				// ----------------------------------------
		
				&sl wSYM
				&kp SPACE				
				&sl wFUNC
				&wReset 
				&wNavReset
				&wMdNr					// 

				// ----------------------------------------							
			>;
		};




		// -----------------------------------------------------|
		// Layer 6 - mPRG =	Programme							|
		// -----------------------------------------------------|


		win_programme
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F1))
				&kp LG(LS(N1))				// 11
				&kp LG(LS(N2))				// 12
				&kp LG(LS(N3))				// 13
				&kp LG(LS(N4))				// 14
				&kp LG(LS(N5))				// 15

				&kp LG(LS(N6))				// 16
				&kp LG(LS(N7))				// 17
				&kp LG(LS(N8))				// 18
				&kp LG(LS(N9))				// 19
				&kp LG(LS(N0))				// 20
				&kp LC(LS(ESC))

				// ----------------------------------------

				&kp LG(LS(F2))
				&kp LC(LG(N1))			//
				&kp LC(LG(N2))			//
				&kp LC(LG(N3))			//
				&kp LC(LG(N4))			//
				&kp LC(LG(N5))			//

				&kp LC(LG(N6))			//
				&kp LC(LG(N7))			//
				&kp LC(LG(N8))			//
				&kp LC(LG(N9))			//
				&kp LC(LG(N0))			//
				&kp LG(TAB)

				// ----------------------------------------

				&kp LG(LS(F3))
				&kp LS(LA(N1))			// 21 			
				&kp LS(LA(N2))			// 22
				&kp LS(LA(N3))			// 23
				&kp LS(LA(N4))			// 24
				&kp LS(LA(N5))			// 25
	
				&kp LS(LA(N6))			// 26
				&kp LS(LA(N7))			// 27
				&kp LS(LA(N8))			// 28
				&kp LS(LA(N9))			// 29
				&kp LS(LA(N0))			// 30
				&kp LG(I)
		
				// ----------------------------------------

				&none
				&none
				&none
				&sl wSPRG					// deep						
				&wNavReset
				&none

				// ----------------------------------------

			>;
		};
		


		// -----------------------------------------------------|
		// Layer 7 - mSPRG =	Spezial Prgramme				|
		// -----------------------------------------------------|


		win_sprogramme
		{

			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F4))
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&kp LG(D)
		
				// ----------------------------------------

				&kp LG(LS(F5))
				&kp LC(N1)					// 11
				&kp LC(N2)					// 12
				&kp LC(N3)					// 13
				&kp LC(N4)					// 14
				&kp LC(N5)					// 15

				&kp LC(N6)					// 16
				&kp LC(N7)					// 17
				&kp LC(N8)					// 18
				&kp LC(N9)					// 19
				&kp LC(N0)					// 20
				&kp LG(A)

				// ----------------------------------------

				&kp LG(LS(F6))
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&kp F16
				&kp F17
				&kp F18
				&kp F19
				&kp F20
				&kp LG(G)
		
				// ----------------------------------------

				&none						//
				&none						//
				&none
				&trans						// 
				&wNavReset
				&none						// 

				// ----------------------------------------

			>;
		};




					


		// -----------------------------------------------------|
		// Layer 8 - mFUNC =	Funktionen						|
		// -----------------------------------------------------|

		win_function
		{
			label = "win";

			bindings = <

				// ----------------------------------------
	
				&kp LG(LS(F7))
				&kp LC(LA(F1))	
				&kp LC(LA(F2))	
				&kp LC(LA(F3))	
				&kp LC(LA(F4))	
				&kp LC(LA(F5))	

				&kp LC(LA(F6))	
				&kp LC(LA(F7))	
				&kp LC(LA(F8))	
				&kp LC(LA(F9))	
				&kp LC(LA(F10))	
				&kp BACKSPACE			
				
				// ----------------------------------------

				&kp LG(LS(F8))
				&kp LC(A)
				&kp LC(LA(L))	
				&kp LC(LA(R))	
				&kp LC(C)			
				&kp LC(X)

				&kp LG(V)
				&kp LC(V)
				&kp LC(LA(I))	
				&kp LC(LA(U))	
				&kp LC(LA(J))	
				&kp ENTER

				// ----------------------------------------

				&kp LG(LS(F9))
				&kp LC(S)
				&kp LC(Y)
				&kp LC(Z)
				&kp LC(O)
				&kp LC(DELETE)	

				&kp LC(P)	
				&kp LC(LA(F))	
				&kp LG(INSERT)	
				&kp LG(DEL)	
				&kp LC(F)	
				&kp LC(LA(C))	
				
				// ----------------------------------------

				&wModAltReset
				&sl wGUI					//
				&sl wSFUNC					// deep
				&none
				&wNavReset
				&none						//

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 9 - mSFUNC =	Spezial Funktionen				|
		// -----------------------------------------------------|

		win_specialfunction
		{
			label = "win";

			bindings = <

			// ----------------------------------------
	
				&kp LG(LS(F10))
				&kp LC(LA(LS(F1)))	
				&kp LC(LA(LS(F2)))	
				&kp LC(LA(LS(F3)))	
				&kp LC(LA(LS(F4)))	
				&kp LC(LA(LS(F5)))	

				&kp LC(LA(LS(F6)))	
				&kp LC(LA(LS(F7)))	
				&kp LC(LA(LS(F8)))	
				&kp LC(LA(LS(F9)))
				&kp LC(LA(LS(F10)))
				&kp LA(BACKSPACE)
				
				// ----------------------------------------

				&kp LG(LS(F11))
				&kp LC(LS(A))
				&kp LC(LS(LA(L)))	
				&kp LC(LS(LA(R)))
				&kp LC(LS(C))			
				&kp LC(LS(X))

				&kp LC(LA(H))
				&kp LC(LS(LA(V)))	
				&kp LC(LS(LA(I)))	
				&kp LC(LS(LA(U)))	
				&kp LC(LS(LA(J)))
				&kp LA(ENTER)	

				// ----------------------------------------

				&kp LG(LS(F12))
				&kp LC(LS(S))
				&kp LC(LS(Y))
				&kp LC(LS(Z))
				&kp LC(LS(O))
				&kp LC(LS(DELETE))

				&kp LC(LS(P))
				&kp LC(LS(LA(F)))	
				&kp LG(LS(INSERT))
				&kp LG(LS(DEL))	
				&kp LC(LS(F))
				&kp LC(LS(LA(C)))
				
				// ----------------------------------------

				&wModGuiReset
				&wModSCtlReset
				&trans						// 
				&none
				&wNavReset
				&none						//

				// ----------------------------------------       
			>;
		};




		// -----------------------------------------------------|
		// Layer 10 - mAlter =	Alterantive						|
		// -----------------------------------------------------|

		win_Alter
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LALT
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&kp LALT

				// ----------------------------------------
		
				&kp LCTL
				&kp LC(N1)					// 11
				&kp LC(N2)					// 12
				&kp LC(N3)					// 13
				&kp LC(N4)					// 14
				&kp LC(N5)					// 15

				&kp LC(N6)					// 16
				&kp LC(N7)					// 17
				&kp LC(N8)					// 18
				&kp LC(N9)					// 19
				&kp LC(N0)					// 20
				&kp LCTL

				// ----------------------------------------

				&kp LSHFT
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&bt BT_CLR
				&bt BT_SEL 1
				&bt BT_SEL 2
				&bt BT_SEL 3
				&bt BT_SEL 4
				&kp LSHFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&wNavReset
				&none						// 

				// ----------------------------------------
			>;
		};
		

		// -----------------------------------------------------|
		// Layer 11 - mGUI =	GUI								|
		// -----------------------------------------------------|

		win_gui
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LC(ESC)					// 
				&kp LC(J)					//
				&kp LC(D)					//
				&kp LC(U)					//
				&kp LC(A)					//
				&kp LC(X)					//

				&kp LC(P)					//
				&kp LC(H)					//
				&kp LC(L) 					//
				&kp LC(M)					//
				&kp LC(W) 					//
				&kp LC(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LC(DEL)					//
				&kp LC(C)					//
				&kp LC(T)					//
				&kp LC(I)					//
				&kp LC(E)					//
				&kp LC(O)					//

				&kp LC(B)					//
				&kp LC(N)					//
				&kp LC(R)					//
				&kp LC(S)					//
				&kp LC(G)					//
				&kp LC(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LC(F)					//
				&kp LC(V)					//
				&kp LC(MINUS)				//
				&kp LC(Y)					//
				&kp LC(Q)					//

				&kp LC(Z)					//
				&kp LC(SEMICOLON)			//
				&kp LC(LEFT_BRACKET)		//
				&kp LC(SINGLE_QUOTE)		//
				&kp LC(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&kp LC(SPC)
				&none						// 
				&none						//
				&wNavReset
				&none						// 

				// ----------------------------------------
			>;
		};






		// -----------------------------------------------------|
		// Layer 12 - mSYM =	Symoble							|
		// -----------------------------------------------------|

		win_symbole
		{
			label = "win";

			bindings = <

				// ----------------------------------------
				
				&kp ESC
				&kp RBKT  				// +
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp NUHS				// #
				&kp LC(LA(NUBS))		// grader strich
				
				&kp RA(Q)				// @
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp LS(N6)				// &
				&kp LS(RBKT)			// *	
				&kp BACKSPACE			// Backspace

				// ----------------------------------------

				&kp RA(N2)
				&kp RA(N7)
				&kp RA(N8)
				&kp RA(N9)
				&kp RA(N0)
				&kp LS(NUHS)			// '

				&kp LS(N2)				// "
				&kp LS(N1)				// !
				&kp LS(N8)				// Runde
				&kp LS(N9)				// Runde
				&kp LS(MINUS)			// ?
				&kp ENTER

				// ----------------------------------------

				&kp LS(N3)
				&kp LS(N7)				// /
				&kp LC(LA(MINUS))		// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&kp LG(DOT)   			// @Sonderzeichen
		
				// ----------------------------------------

				&sl wSSYM				// deep
				&kp SPACE
				&kp LA(TAB)				// 
				&none					//
				&wNavReset
				&none					//

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 13 - mSSYM =	Special Symbole					|
		// -----------------------------------------------------|

		win_specialsonderzeichen
		{
			label = "win";

			bindings = <

				// ----------------------------------------
				
				&none	
				&none					//
				&kp LS(EQUAL)			//
				&kp EQUAL				// 
				&none					//
				&none					//

				&none					//
				&none					//
				&none
				&kp RA(M)				// 
				&none					//
				&kp BACKSPACE			// 

				// ----------------------------------------

				&kp RA(N3)
				&none					//
				&none					//
				&none
				&none
				&none					//

				&none					//
				&none					//
				&none
				&none
				&none
				&kp ENTER

				// ----------------------------------------

				&none	
				&none	
				&none
				&none
				&kp LS(N4) 				// $
				&kp LS(GRAVE)			// Grad

				&kp RA(RBKT)			// ~
				&none
				&none
				&none
				&none
				&kp LG(DOT)   			// @Sonderzeichen

				// ----------------------------------------

				&trans					//
				&kp SPACE
				&kp LA(TAB)				// 
				&none					//
				&wNavReset
				&none					//

				// ----------------------------------------
			>;
		};	




		// -----------------------------------------------------|
		// Layer 14 - wSideShift =	Side Shift					|
		// -----------------------------------------------------|

		win_wSShift
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LC(LA(F1))
				&kp LC(LA(F2))
				&kp LC(LA(F3))
				&kp LC(LA(F4))
				&kp LC(LA(F5))

				&kp LA(SPACE)
				&kp LG(LS(LEFT))
				&wWinUp
				&kp LG(LS(RIGHT))
				&kp LG(PG_UP)				
				&kp LA(F4)			

				// ----------------------------------------
		
				&sl wSSShift
				&kp LALT
				&kp LWIN
				&kp LSHFT
				&kp LCTRL
				&kp DELETE

				&kp LC(LA(M))
				&wWinLeft
				&wWinDown
				&wWinRight
				&kp LG(PG_DN)			
				&kp LC(ENTER)				// 

				// ----------------------------------------

				&kp LA(TAB)
				&kp LS(LG(S))
				&none
				&kp LC(LA(LG(K)))
				&kp LC(LA(LG(U)))
				&kp LC(S)

				&kp LC(LA(LG(F1)))
				&kp LC(LA(LG(F2)))
				&kp LC(LA(LG(F3)))	
				&kp LC(LA(LG(F4)))
				&kp LC(LA(LG(F5)))
				&kp LC(LA(LG(F6)))

				// ----------------------------------------
		
				&kp LG(LA(S))				// 
				&kp LG(S)
				&wAlterReset				// 
				&wPrgReset					//
				&wNavReset
				&wNrReset

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 15 - mSSideShift =	Side Shift					|
		// -----------------------------------------------------|

		win_wSSShift
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LC(LA(F6))
				&kp LC(LA(F7))
				&kp LC(LA(F8))
				&kp LC(LA(F9))
				&kp LC(LA(F10))

				&none
				&none
				&kp LC(F1)
				&none	
				&none			
				&kp LC(LA(DELETE))

				// ----------------------------------------
		
				&trans
				&kp LG(L)
				&none
				&none
				&kp LC(LA(LG(C)))
				&kp LS(DELETE)

				&kp LC(LA(LG(ENTER)))	
				&kp LC(LG(LA(N1)))			
				&kp LC(LG(LA(N2)))			
				&kp LC(LG(LA(N3)))			
				&kp LC(LG(LA(N4)))			
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&turnOnMac
				&sys_reset
				&none
				&none
				&none
				&none

				&kp LC(LA(LG(F7)))
				&kp LC(LA(LG(F8)))
				&kp LC(LA(LG(F9)))	
				&kp LC(LA(LG(F10)))
				&kp LC(LA(LG(F11)))
				&turnOnMac

				// ----------------------------------------
		
				&wSymReset
				&kp LG(LA(S))
				&wAlterReset				// 
				&wPrgReset					//
				&wNavReset
				&wNrReset

				// ----------------------------------------
			>;
		};














		

		// -----------------------------------    mac  -----------------------------------------------------------------------|

		// -----------------------------------------------------|
		// Layer 0 - mChar = 	  Buchstaben					|
		// -----------------------------------------------------|
	
		mac_buchstaben
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp J 
				&kp D	 
				&kp U
				&kp A
				&kp X

				&kp P
				&kp H
				&kp L
				&kp M
				&kp W
				&kp BSPC

				// ----------------------------------------
	
				&sl mSShift
				&kp C
				&kp T
				&kp I
				&kp E
				&kp O

				&kp B
				&kp N
				&kp R
				&kp S
				&kp G
				&kp RET

				// ----------------------------------------
	
				&mMdLs
				&kp F
				&kp V
				&kp MINUS
				&kp Y
				&kp Q

				&kp Z
				&kp SEMI
				&kp LBKT
				&kp SQT
				&kp K
				&mMdRs

				// ----------------------------------------

				&sl mSYM
				&kp SPACE
				&sl mFUNC
				&sl mPRG 
				&sl mNAV
				&mMdNr

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 1 - mNR = 	  Zahlen 							|
		// -----------------------------------------------------|

		mac_zahlen
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp RBKT  				// +
				&kp GRAVE				// Spitze
				&kp LS(GRAVE)			// Spitze
				&kp NUHS				// #
				&kp X
				
				&kp LA(L)				// @
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(RBKT)			// *				
				&kp BACKSPACE

				// ----------------------------------------

				&sl mSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8			
				&kp N9				
				&kp N0				
				&mEnterReset 

				// ----------------------------------------

				&mShiftReset
				&kp LS(N7)				// /
				&kp LS(LA(N7))			// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp NUBS				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&mShiftReset

				// ----------------------------------------
		
				&mSymReset
				&mSpaceReset 
				&mFuncReset
				&mPrgReset
				&mNavReset
				&none
			>;		
		};



		// -----------------------------------------------------|
		// 2 Layer  - wNRhard = 	  Zahlen Hard Lock			|
		// -----------------------------------------------------|

		mac_zahlenhard
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp RBKT  				// +
				&kp GRAVE				// Spitze
				&kp LS(GRAVE)			// Spitze
				&kp NUHS				// #
				&kp X
				
				&kp LA(L)				// @
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(RBKT)			// *	
				&kp BSPC

				// ----------------------------------------

				&sl mSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8				
				&kp N9				
				&kp N0				
				&kp ENTER 

				// ----------------------------------------

				&mMdLs
				&kp LS(N7)				// /
				&kp LS(LA(N7))			// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp NUBS				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&mMdRs

				// ----------------------------------------
		
				&sl mSYM
				&kp SPACE
				&sl mFUNC
				&sl mPRG 
				&sl mNAV
				&none
			>;		
		};




		// -----------------------------------------------------|
		// 3 Layer  - mLCHAR = 	  Buchstaben Lock				|
		// -----------------------------------------------------|
	
		mac_lchar
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)

				// ----------------------------------------
	
				&sl mSShift
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)
			
				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&mEnterReset

				// ----------------------------------------

				&mMdLs
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&mMdRs					

				// ----------------------------------------

				&mSymReset
				&mSpaceReset 
				&mFuncReset
				&mPrgReset
				&mNavReset
				&mMdNr

				// ----------------------------------------		
			>;
		};




		// -----------------------------------------------------|
		// Layer = 4 - wNAV - Navigation						|
		// -----------------------------------------------------|

		mac_navigation
		{		
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LC(LA(B))	
				&kp LG(UP)					// @Home Sprung
				&kp LS(TAB)
				&kp UP						// @Up
				&kp TAB
				&kp LG(KP_MULTIPLY)	

				&kp DEL
				&kp LG(KP_PLUS)		
				&kp PG_UP
				&kp LG(KP_MINUS)
				&kp LC(UP)
				&kp BSPC					

				// ----------------------------------------

				&sl mSShift
				&kp LG(DOWN)				// @End Sprung
				&kp LEFT 					// @Left
				&kp DOWN					// @Down
				&kp RIGHT 					// @Right
				&kp LC(LA(G))	
				
				&kp LC(LS(F10))
				&kp LS(LC(TAB))			 	// 
				&kp PG_DN
				&kp LC(TAB)				 	// 
				&kp LC(DOWN)
				&kp ENTER					// -
				
				// ----------------------------------------

				&kp LSHFT
				&kp LG(LEFT)				// @Home 
				&kp LA(LEFT)				// @Wort Sprung
				&kp LA(RIGHT)				// @Wort Sprung
				&kp LG(RIGHT)				// @End  
				&kp LG(TAB)

				&none
				&kp LG(LS(LEFT))				// @Home 
				&kp LA(LS(LEFT))				// @Wort Sprung
				&kp LA(LS(RIGHT))				// @Wort Sprung
				&kp LG(LS(RIGHT))				// @End  
				&kp LSHFT

				// ----------------------------------------

				&sl mSYM
				&kp SPACE				
				&sl mFUNC
				&mReset 
				&sl mSNAV
				&mMdNr

				// ----------------------------------------							
			>;
		};



		// -----------------------------------------------------|
		// Layer = 5 - wSNAV - Navigation						|
		// -----------------------------------------------------|

		mac_snavigation
		{		
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LC(LG(LA(B)))
				&kp LG(LS(UP))					// @Home Sprung
				&kp LS(TAB)
				&kp UP						
				&kp TAB
				&kp LG(LS(KP_MULTIPLY))

				&kp INSERT
				&kp LG(LS(KP_PLUS))
				&kp LG(PG_UP)
				&kp LG(LS(KP_MINUS))
				&kp LA(UP)
				&kp BACKSPACE

				// ----------------------------------------
		
				&sl mSShift	
				&kp LG(LS(DOWN))				// @End Sprung
				&kp LEFT
				&kp DOWN
				&kp RIGHT
				&kp LC(LG(LA(G)))

				&kp LCTL			
				&kp LC(LA(LS(TAB)))		
				&kp LG(PG_DN)
				&kp LC(LA(TAB))
				&kp LA(DOWN)
				&kp ENTER

				// ----------------------------------------

				&kp LSHIFT						
				&kp LG(LS(LEFT))				// @Home 
				&kp LA(LS(LEFT))				// @Wort Sprung
				&kp LA(LS(RIGHT))				// @Wort Sprung
				&kp LG(LS(RIGHT))				// @End  
				&wDoubleTab
				
				&kp LALT		
				&kp LG(LS(LEFT))				// @Home 
				&kp LA(LS(LEFT))				// @Wort Sprung
				&kp LA(LS(RIGHT))				// @Wort Sprung
				&kp LG(LS(RIGHT))				// @End  					
				&kp RSHIFT						

				// ----------------------------------------
		
				&sl mSYM
				&kp SPACE				
				&sl mFUNC
				&mReset 
				&mNavReset
				&mMdNr					// 

				// ----------------------------------------							
			>;
		};




		// -----------------------------------------------------|
		// Layer 6 - mPRG =	Programme							|
		// -----------------------------------------------------|


		mac_programme
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F1))
				&kp LG(LS(N1))				// 11
				&kp LG(LS(N2))				// 12
				&kp LG(LS(N3))				// 13
				&kp LG(LS(N4))				// 14
				&kp LG(LS(N5))				// 15

				&kp LG(LS(N6))				// 16
				&kp LG(LS(N7))				// 17
				&kp LG(LS(N8))				// 18
				&kp LG(LS(N9))				// 19
				&kp LG(LS(N0))				// 20
				&kp LC(LS(ESC))

				// ----------------------------------------

				&kp LG(LS(F2))
				&kp LC(LG(N1))			//
				&kp LC(LG(N2))			//
				&kp LC(LG(N3))			//
				&kp LC(LG(N4))			//
				&kp LC(LG(N5))			//

				&kp LC(LG(N6))			//
				&kp LC(LG(N7))			//
				&kp LC(LG(N8))			//
				&kp LC(LG(N9))			//
				&kp LC(LG(N0))			//
				&kp LG(TAB)

				// ----------------------------------------

				&kp LG(LS(F3))
				&kp LS(LA(N1))			// 21 			
				&kp LS(LA(N2))			// 22
				&kp LS(LA(N3))			// 23
				&kp LS(LA(N4))			// 24
				&kp LS(LA(N5))			// 25
	
				&kp LS(LA(N6))			// 26
				&kp LS(LA(N7))			// 27
				&kp LS(LA(N8))			// 28
				&kp LS(LA(N9))			// 29
				&kp LS(LA(N0))			// 30
				&kp LG(I)
		
				// ----------------------------------------

				&none
				&none
				&none
				&sl mSPRG					// deep						
				&mNavReset
				&none

				// ----------------------------------------

			>;
		};
		


		// -----------------------------------------------------|
		// Layer 7 - mSPRG =	Spezial Prgramme				|
		// -----------------------------------------------------|


		mac_sprogramme
		{

			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F4))
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&kp LG(D)
		
				// ----------------------------------------

				&kp LG(LS(F5))
				&kp LC(N1)					// 11
				&kp LC(N2)					// 12
				&kp LC(N3)					// 13
				&kp LC(N4)					// 14
				&kp LC(N5)					// 15

				&kp LC(N6)					// 16
				&kp LC(N7)					// 17
				&kp LC(N8)					// 18
				&kp LC(N9)					// 19
				&kp LC(N0)					// 20
				&kp LG(A)

				// ----------------------------------------

				&kp LG(LS(F6))
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&kp F16
				&kp F17
				&kp F18
				&kp F19
				&kp F20
				&kp LG(G)
		
				// ----------------------------------------

				&none						//
				&none						//
				&none
				&trans						// 
				&mNavReset
				&none						// 

				// ----------------------------------------

			>;
		};




					


		// -----------------------------------------------------|
		// Layer 8 - mFUNC =	Funktionen						|
		// -----------------------------------------------------|

		mac_function
		{
			label = "mac";

			bindings = <

				// ----------------------------------------
	
				&kp LG(LS(F7))
				&kp LC(LA(F1))	
				&kp LC(LA(F2))	
				&kp LC(LA(F3))	
				&kp LC(LA(F4))	
				&kp LC(LA(F5))	

				&kp LC(LA(F6))	
				&kp LC(LA(F7))	
				&kp LC(LA(F8))	
				&kp LC(LA(F9))	
				&kp LC(LA(F10))	
				&kp BACKSPACE			
				
				// ----------------------------------------

				&kp LG(LS(F8))
				&kp LG(A)
				&kp LC(LA(L))	
				&kp LC(LA(R))	
				&kp LG(C)			
				&kp LG(X)

				&kp LG(LA(V))
				&kp LG(V)
				&kp LC(LA(I))	
				&kp LC(LA(U))	
				&kp LC(LA(J))	
				&kp ENTER

				// ----------------------------------------

				&kp LG(LS(F9))
				&kp LG(S)
				&kp LG(Y)
				&kp LG(Z)
				&kp LG(O)
				&kp LG(DELETE)	

				&kp LG(P)	
				&kp LG(LA(F))	
				&kp LG(INSERT)	
				&kp LG(DEL)	
				&kp LG(F)	
				&kp LC(LA(C))	
				
				// ----------------------------------------

				&mModSCtlReset
				&sl mGUI					//
				&sl mSFUNC					// deep
				&none
				&mNavReset
				&none						//

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 9 - mSFUNC =	Spezial Funktionen				|
		// -----------------------------------------------------|

		mac_specialfunction
		{
			label = "mac";

			bindings = <

			// ----------------------------------------
	
				&kp LG(LS(F10))
				&kp LC(LA(LS(F1)))	
				&kp LC(LA(LS(F2)))	
				&kp LC(LA(LS(F3)))	
				&kp LC(LA(LS(F4)))	
				&kp LC(LA(LS(F5)))	

				&kp LC(LA(LS(F6)))	
				&kp LC(LA(LS(F7)))	
				&kp LC(LA(LS(F8)))	
				&kp LC(LA(LS(F9)))
				&kp LC(LA(LS(F10)))
				&kp LA(BACKSPACE)
				
				// ----------------------------------------

				&kp LG(LS(F11))
				&kp LG(LS(A))
				&kp LC(LS(LA(L)))	
				&kp LC(LS(LA(R)))
				&kp LG(LS(C))			
				&kp LG(LS(X))

				&kp LG(LA(H))
				&kp LC(LS(LA(V)))	
				&kp LC(LS(LA(I)))	
				&kp LC(LS(LA(U)))	
				&kp LC(LS(LA(J)))
				&kp LA(ENTER)	

				// ----------------------------------------

				&kp LG(LS(F12))
				&kp LG(LS(S))
				&kp LG(LS(Y))
				&kp LG(LS(Z))
				&kp LG(LS(O))
				&kp LG(LS(DELETE))

				&kp LG(LS(P))
				&kp LC(LS(LA(F)))	
				&kp LG(LS(INSERT))
				&kp LG(LS(DEL))	
				&kp LG(LS(F))
				&kp LC(LS(LA(C)))
				
				// ----------------------------------------

				&mModAltReset
				&mModGuiReset
				&trans						// 
				&none
				&mNavReset
				&none						//

				// ----------------------------------------       
			>;
		};




		// -----------------------------------------------------|
		// Layer 10 - mAlter =	Alterantive						|
		// -----------------------------------------------------|

		mac_Alter
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LALT
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&kp LALT

				// ----------------------------------------
		
				&kp LCTL
				&kp LG(N1)					// 11
				&kp LG(N2)					// 12
				&kp LG(N3)					// 13
				&kp LG(N4)					// 14
				&kp LG(N5)					// 15

				&kp LG(N6)					// 16
				&kp LG(N7)					// 17
				&kp LG(N8)					// 18
				&kp LG(N9)					// 19
				&kp LG(N0)					// 20
				&kp LCTL

				// ----------------------------------------

				&kp LSHFT
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&bt BT_CLR
				&bt BT_SEL 1
				&bt BT_SEL 2
				&bt BT_SEL 3
				&bt BT_SEL 4
				&kp LSHFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavReset
				&none						// 

				// ----------------------------------------
			>;
		};
		

		// -----------------------------------------------------|
		// Layer 11 - mGUI =	GUI								|
		// -----------------------------------------------------|

		mac_gui
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp LG(ESC)					// 
				&kp LG(J)					//
				&kp LG(D)					//
				&kp LG(U)					//
				&kp LG(A)					//
				&kp LG(X)					//

				&kp LG(P)					//
				&kp LG(H)					//
				&kp LG(L) 					//
				&kp LG(M)					//
				&kp LG(W) 					//
				&kp LG(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LG(DEL)					//
				&kp LG(C)					//
				&kp LG(T)					//
				&kp LG(I)					//
				&kp LG(E)					//
				&kp LG(O)					//

				&kp LG(B)					//
				&kp LG(N)					//
				&kp LG(R)					//
				&kp LG(S)					//
				&kp LG(G)					//
				&kp LG(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LG(F)					//
				&kp LG(V)					//
				&kp LG(MINUS)				//
				&kp LG(Y)					//
				&kp LG(Q)					//

				&kp LG(Z)					//
				&kp LG(SEMICOLON)			//
				&kp LG(LEFT_BRACKET)		//
				&kp LG(SINGLE_QUOTE)		//
				&kp LG(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&kp LG(SPC)
				&none						// 
				&none						//
				&mNavReset
				&none						// 

				// ----------------------------------------
			>;
		};






		// -----------------------------------------------------|
		// Layer 12 - mSYM =	Symoble							|
		// -----------------------------------------------------|

		mac_symbole
		{
			label = "mac";

			bindings = <

				// ----------------------------------------
				
				&kp ESC
				&kp RBKT  				// +
				&kp GRAVE				// Spitze
				&kp LS(GRAVE)			// Spitze
				&kp NUHS				// #
				&kp LA(N7)				// grader strich
				
				&kp LA(L)				// @
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp LS(N6)				// &
				&kp LS(RBKT)			// *	
				&kp BACKSPACE			// Backspace

				// ----------------------------------------

				&kp NUBS				// ^
				&kp LA(N5)				// Eckige
				&kp LA(N8)				// Geschweift
				&kp LA(N9)				// Geschweift
				&kp LA(N6)				// Eckige
				&kp LS(NUHS)			// '

				&kp LS(N2)				// "
				&kp LS(N1)				// !
				&kp LS(N8)				// Runde
				&kp LS(N9)				// Runde
				&kp LS(MINUS)			// ?
				&kp ENTER

				// ----------------------------------------

				&kp LS(N3)
				&kp LS(N7)				// /
				&kp LS(LA(N7))			// backlslash
				&kp LS(N5)				// %
				&kp LA(LC(E))			// €
				&kp NUBS				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp LS(SLASH)			// _
				&kp SLASH 				// -
				&kp LG(LC(SPACE))   	// @Sonderzeichen
		
				// ----------------------------------------

				&sl mSSYM				// deep
				&kp SPACE
				&kp LG(TAB)				// 
				&none					//
				&mNavReset
				&none					//

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 13 - mSSYM =	Special Symbole					|
		// -----------------------------------------------------|

		mac_specialsonderzeichen
		{
			label = "mac";

			bindings = <

				// ----------------------------------------
				
				&none	
				&none					//
				&kp LS(EQUAL)			//
				&kp EQUAL				// 
				&none					//
				&none					//

				&none					//
				&none					//
				&none
				&kp RA(M)				// 
				&none					//
				&kp BACKSPACE			// 

				// ----------------------------------------

				&kp NUBS				// ^
				&none					//
				&none					//
				&none
				&none
				&none					//

				&none					//
				&none					//
				&none
				&none
				&none
				&kp ENTER

				// ----------------------------------------

				&none	
				&none	
				&none
				&none
				&kp LS(N4) 				// $
				&kp LS(GRAVE)			// Grad

				&kp LA(N)				// ~
				&none
				&none
				&none
				&none
				&kp LG(LC(SPACE))   	// @Sonderzeichen

				// ----------------------------------------

				&trans					//
				&kp SPACE
				&kp LG(TAB)				// 
				&none					//
				&mNavReset
				&none					//

				// ----------------------------------------
			>;
		};	




		// -----------------------------------------------------|
		// Layer 14 - SideShift =	Side Shift					|
		// -----------------------------------------------------|

		mac_mSShift
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LC(LA(F1))
				&kp LC(LA(F2))
				&kp LC(LA(F3))
				&kp LC(LA(F4))
				&kp LC(LA(F5))

				&kp LA(SPACE)
				&kp LG(LS(LEFT))
				&none						// Window Control
				&kp LG(LS(RIGHT))
				&kp LG(PG_UP)				
				&kp LA(F4)			

				// ----------------------------------------
		
				&sl mSSShift
				&kp LALT
				&kp LWIN
				&kp LSHFT
				&kp LCTRL
				&kp DELETE

				&kp LC(LA(M))
				&none						// Window Control
				&none						// Window Control
				&none						// Window Control
				&kp LG(PG_DN)			
				&kp LC(ENTER)				// 

				// ----------------------------------------

				&kp LA(TAB)
				&kp LS(LG(S))
				&none
				&kp LC(LA(LG(K)))
				&kp LC(LA(LG(U)))
				&kp LC(S)

				&kp LC(LA(LG(F1)))
				&kp LC(LA(LG(F2)))
				&kp LC(LA(LG(F3)))	
				&kp LC(LA(LG(F4)))
				&kp LC(LA(LG(F5)))
				&kp LC(LA(LG(F6)))

				// ----------------------------------------
		
				&kp LG(LA(S))				// 
				&kp LG(S)
				&mAlterReset				// 
				&mPrgReset					//
				&mNavReset
				&mNrReset

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 15 - mSSideShift =	Side Shift					|
		// -----------------------------------------------------|

		mac_mSSShift
		{
			label = "mac";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LC(LA(F6))
				&kp LC(LA(F7))
				&kp LC(LA(F8))
				&kp LC(LA(F9))
				&kp LC(LA(F10))

				&none
				&none
				&kp LC(F1)
				&none	
				&none			
				&kp LC(LA(DELETE))

				// ----------------------------------------
		
				&trans
				&kp LG(L)
				&none
				&none
				&kp LC(LA(LG(C)))
				&kp LS(DELETE)

				&kp LC(LA(LG(ENTER)))	
				&kp LC(LG(LA(N1)))			
				&kp LC(LG(LA(N2)))			
				&kp LC(LG(LA(N3)))			
				&kp LC(LG(LA(N4)))			
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&turnOnWin
				&sys_reset
				&none
				&none
				&none
				&none

				&kp LC(LA(LG(F7)))
				&kp LC(LA(LG(F8)))
				&kp LC(LA(LG(F9)))	
				&kp LC(LA(LG(F10)))
				&kp LC(LA(LG(F11)))
				&turnOnMac

				// ----------------------------------------
		
				&mSymReset
				&kp LG(LA(S))
				&mAlterReset				// 
				&mPrgReset					//
				&mNavReset
				&mNrReset

				// ----------------------------------------
			>;
		};



	};
};



